/* HOME */

.login-text_fields-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 32px;
}

.signup-section {
  display: flex;
  height: 40px;
  align-items: center;
}

.signup-section > p {
  color: var(--outline-clr);
}

.signup-section > p > a {
  color: var(--primary-clr1);
}
